* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}
.heading {
  font-size: 48px;
}
.second-heading {
  font-size: 36px;
}
.regular {
  font-weight: normal;
  font-size: 24px;
}
.c-black {
  color: #393939;
}
.c-grey {
  color: #606060;
}
.c-accent {
  color: #0E8DF2;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 65px;
  }
}
header .title-wrapper {
  display: flex;
  flex-direction: column;
}
header .title-wrapper .page-title {
  font-weight: 600;
  font-size: 210px;
  line-height: 92%;
  color: #393939;
  margin-bottom: 60px;
}
@media screen and (max-width: 1440px) {
  header .title-wrapper .page-title {
    font-size: 144px;
  }
}
header .anchor-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header .anchor-menu .anchors-wrapper {
  width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header .anchor-menu .anchors-wrapper a {
  text-decoration: none;
  color: #606060;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  transition: 0.2s;
  position: relative;
}
header .anchor-menu .anchors-wrapper a::before {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0;
  background: #0E8DF2;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}
header .anchor-menu .anchors-wrapper a:hover {
  color: #0E8DF2;
}
header .anchor-menu .anchors-wrapper a:hover::before {
  opacity: 1;
}
