@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pacifico&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 310vh;
}

.container {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width--100percent {
    width: 100%;
}

header {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr;
    padding-top: 2vh;
    background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
    background-image: -o-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menu{
    list-style: none;
    display: flex;
    width: 48%;
    flex-direction: row-reverse;
    padding-right: 5vw;
}
.menu__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    color:black;
    margin-left: 1vw;
} */
.header_Text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_Text h1 {
    font-size: 6vh;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.show_Button_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

.button--show_More_Content {
    width: 4.3vh;
    height: 4.4vh;
    display: block;
    background: url(../img/show--more.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.button--show_More_Content:hover {
    width: 4.5vh;
    height: 4.5vh;
    transform: rotate(360deg);
}

.method_Container{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5vh 1vh 5vh 1vh;
    align-items: center;
}
.method_Title{
    font-size: 5vh;
}
.method_Description{
    display: grid;
    grid-template: 1fr / repeat(2 , 1fr);
    grid-gap: 2vh;
}
.method_Description div{
    padding: 3vh 0 3vh 0;
}
.method_Description__text{
    font-size: 1.8vh;
    font-weight: 500;
    font-style: normal;
}
.scrum_img{
    width: 100%;
    height: 40vh;
    background: url(../img/scrum-process-infographics-260nw-690204889.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.method_Features{
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 2vh;
}
.method_Col{
    padding: 2vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.method_List__heading{
    font-size: 3vh;
    font-weight: bolder;
}
.method_List__item{
    font-size: 2vh;
    font-weight: normal;
}
.kanban_Container{
    
}
















































footer {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, #a18cd1, #fbc2eb);
}