@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}
body{
	background: #eeeeee;
}
.container{
	width: 75%;
	height: 100vh;
	margin: 0 auto; 
	position: relative;
	display: grid;
	grid-template:1.2fr 1fr / 1fr;
}
header{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 8vw;
}
h1{
	font-size: 3.5vw;
	color: black;
}
h2{
	font-size: 1.5vw;
	color: #616161;
	width: 81%;
	margin-top: 1vw;
}
.input_container{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-top: 1vw;
}
input{
	font-size: 1.8vw;
}
button{
	width: 20%;
	font-size: 1.8vw;
}
section{
	display: grid;
	grid-template: 1fr/ 1fr 1fr 1fr;
	grid-gap: 1vw;
}
.user_info_text{
	font-size: 1.5vw;
	color: black;
	text-decoration: none;
}
.user_info_container:nth-child(4){
	grid-row: 3 /4;
	grid-column: 1 / 2;
}
#profile_pic{
	width: 60%;
}