/*Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*CSS*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.whole_container{
	width: 100%;
	height: 100vh;
	background: #CEC8FF;
	overflow: hidden;
	position: relative;
}
.warpus_container{
	width: 40vw;
	height: 80vh;
	margin: 8vw auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.warpus{
	width: 100%;
 	height: 60vh;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	position: relative;
}
video{
	position: absolute;
	top: -2%;
	left: -5%;
	z-index: 10;
	width: 110%;
	height: 110%;
	display: none;
}
.warpus_scream{
	content: '';
	width: 45vw;
	height: 45vh;
	position: absolute;
	top: 10%;
	left: -100%;
	background: url(../img/scream_warpus.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.3s;
}
.left{
	left: -10%;
}
.warpus input{
	font-size: 1.6vw;
	margin-top: 1vw;
	border: 0;
	font-weight: bold;
	text-align: center;
	background: transparent;
}
.buttons_container{
	width: 80%;
	height: 40vh;
	display: flex;
	justify-content: space-around;
}
.button{
	width: 12vw;
	height: 7vh;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(110.87deg, #FFFFFF 10.71%, #CFCFCF 92.38%);
	box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	border: 0;
	cursor: pointer;
}
.button h2, .button{
	font-size: 2vw;
	position: relative;
	text-decoration: none;
}
#yes h2{
	color: #3F3F3F;
}
#nope{
	cursor: default;
}
#tryagain{
	display: none;
}
#tryagain h2:before{
	content: '';
	position: absolute;
	top: 26%;
	left: -2%;
	width: 1.2vw;
	height: 1.2vw;
	background: url(../img/icon.png);
	background-size: contain;
	background-repeat: no-repeat;
}
#tryagain h2{
	font-weight: normal;
	font-size: 1.8vw;
	margin-left: 12%;
}
#nope h2{
	color: #FF0C0C;
}
#buttonvideocontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	padding: 2vw 6vw 0 4vw;
	z-index: 11;
}
#realclose{
	position: relative;
	border: 0;
	width: 2vw;
	height: 2vw;
	background: transparent;
	cursor: pointer;
}
#realclose:before{
	content: '';
	position: absolute;
	top: 30%;
	left: 30%;
	width: 1.2vw;
	height: 1.2vw;
	background: url(../img/iconxblack.png);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 30%;
}
#close{
	position: relative;
	text-align: center;
	width: 14vw;
	padding-top: 0.55vw;
	color: black;
}
#close:before{
	content: '';
	position: absolute;
	top: 32%;
	left: 18%;
	width: 1.2vw;
	height: 1.2vw;
	background: url(../img/iconx.png);
	background-size: contain;
	background-repeat: no-repeat;
}
input:focus, .button:focus{
	outline: 0 !important;
}
/*Media queries*/
@media (orientation: portrait){
	body{
		overflow: hidden;
	}
	.warpus_container{
		width: 90vw;
		padding-top: 25vh;
	}
	img{
		width: 50%;
	}
	.warpus_scream{
		top: 2%;
		left: -44%;
	}
	video{
		width: 200vh;
		height: 320vh;
		top: -110vh;
		left: -105vh;
		
	}
	#buttonvideocontainer{
		top: 80vh;
		padding: 2vh 6vh 0 4vh;
	}
	#realclose:before{
		top: -78vh;
		width: 4vh;
		height: 4vh;
		opacity: 1;
	}
	#close{
		width: 15vh;
		padding-top: 1.8vh;
		padding-left: 1.5vh;
		font-size: 3vh;
	}
	#close:before{
		width: 2vh;
		height: 2vh;
		top: 38%;
		left: 15%;
	}
	#tryagain{
		width: 20vh;
	}
	#tryagain h2{
		font-size: 3vh;
	}
	#tryagain h2:before{
		top: 17%;
		width: 2.2vh;
		height: 2.5vh;
	}
	.warpus input{
		font-size: 4vh;
	}
	.buttons_container{
		width: 100%;
		justify-content: space-around;
	}
	.button{
		width: 30vw;
		height: 7vh;
	}
	#nope:hover{
		top: 0;
		left: 0;
	}

	.button h2{
		font-size: 3vh;
	}

}
@media (min-width: 724px, max-width:1024px ){
	body{
		overflow: hidden;
	}
	#buttonvideocontainer{
		top: 20vh;

	}
}
.runaway{
	position: relative;
	top: -94%;
	left: 12%;
}