/*======= About =======*/
.about-text {
    &.p-left {
        @include respond-above(md) {
            padding-left: 30px;
        }
    }

    &.p-right {
        @include respond-above(md) {
            padding-right: 30px;
        }
    }

    ul {
        li {
            width: 40%;
            float: left;
            font-weight: 700;
            font-family: $raj;
            text-transform: uppercase;
            margin-bottom: 10px;

            @include respond-below(lg) {
                width: 45%;
            }

            @include respond-below(xs) {
                width: 100%;
                float: none;
            }

            span {
                margin-right: 12px;
                color: $primary-color;
            }
        }
    }

    .founder-info {
        display: grid;
        align-items: center;
        grid-template-columns: 80px 1fr;
        gap: 20px;

        h3 {
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: -1px;
            line-height: 1.2;

            @include respond-below(sm) {
                font-size: 24px;
            }

            @include respond-below(xs) {
                font-size: 20px;
            }
        }

        span {
            font-family: $raj;
            font-weight: 700;
            color: $primary-color;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

.about-tag-img {
    position: relative;

    @include respond-below(md) {
        margin-bottom: 50px;
    }

    @include respond-below(sm) {
        margin-bottom: 140px;
        text-align: center;
    }

    @include respond-below(xs) {
        margin-bottom: 100px;
    }

    .experience-tag {
        position: absolute;
        right: 0;
        top: 50%;
        height: 180px;
        width: 180px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $raj;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        line-height: 1;
        border: 10px solid $white;
        transform: translate(50%, -50%);

        @include respond-below(sm) {
            top: auto;
            right: 50%;
            bottom: 0;
            transform: translate(50%, 50%);
        }

        @include respond-below(xs) {
            width: 130px;
            height: 130px;
            border-width: 6px;
            font-size: 13px;
        }

        .big {
            display: block;
            font-size: 80px;
            position: relative;

            @include respond-below(xs) {
                font-size: 42px;
            }

            &::after {
                content: "+";
                font-size: 16px;
            }
        }

        &.style-two {
            height: auto;
            width: auto;
            border: none;
            border-left: 4px solid $primary-color;
            box-shadow: 0px 8px 16px 0px rgba(7, 28, 31, 0.04);
            background-color: $white;
            right: auto;
            left: -110px;
            top: auto;
            bottom: 70px;
            line-height: 1.2;
            padding: 20px 175px 20px 30px;
            text-align: left;
            transform: translate(0);
            display: block;

            @include respond-below(lg) {
                left: -80px;
            }

            @include respond-below(sm) {
                top: auto;
                bottom: 0;
                left: 50px;
                transform: translate(0, 50%);
                right: 50px;
                padding: 20px 120px 20px 30px;
            }

            @include respond-below(xs) {
                left: 20px;
                right: 20px;
                padding: 20px 65px 20px 20px;
            }

            &>div {
                display: flex;
                align-items: center;
            }

            .big {
                color: $primary-color;
                margin-right: 20px;
                line-height: 1;
            }
        }
    }
}

.about-gallery {
    position: relative;
    height: 600px;

    @include respond-below(md) {
        margin-bottom: 50px;
    }

    @include respond-below(xs) {
        height: 460px;
    }

    .image-one,
    .image-two,
    .image-three {
        background-size: cover;
        background-position: center;
        background-color: #ddd;
        position: absolute;
    }

    .image-one {
        left: 0;
        top: 0;
        width: 370px;
        height: 350px;
        z-index: 1;

        @include respond-between(md, lg) {
            width: 350px;
        }

        @include respond-below(xs) {
            width: 270px;
            height: 250px;
        }
    }

    .image-two {
        bottom: 0;
        right: 0;
        width: 400px;
        height: 355px;
        box-shadow: 0px 8px 16px 0px rgba(7, 28, 31, 0.04);
        border: 10px solid $white;
        z-index: 2;

        @include respond-between(md, lg) {
            width: 355px;
        }

        @include respond-below(xs) {
            width: 250px;
            height: 250px;
        }
    }

    .image-three {
        left: 25px;
        bottom: 80px;
        width: 115px;
        height: 115px;
        z-index: 1;

        @include respond-below(xs) {
            left: 15px;
            bottom: 40px;
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        background-color: $primary-color;
    }

    &::before {
        top: 70px;
        left: 370px;
        height: 20px;
        width: 20px;
        transform: translateX(-50%);
        z-index: 2;

        @include respond-between(md, lg) {
            left: 350px;
        }

        @include respond-below(xs) {
            left: 270px;
        }
    }

    &::after {
        top: 120px;
        right: 70px;
        width: 85px;
        height: 85px;
        opacity: 0.15;

        @include respond-between(md, lg) {
            right: 30px;
        }

        @include respond-below(xs) {
            right: 0;
            width: 50px;
            height: 50px;
        }
    }
}