/* Link to the custom font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Global Reusable classes */
.second-heading{
    font-size: 5.5vh;
}
.no-select{
    user-select: none;
    -webkit-user-drag: none;
}
/* CSS Main structure */
div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500vh;
}
div.section{
    width: 100%;
    height: 100vh;
    padding-top: 3.5vh;
}
#section_1{
    background: #FF5F45;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 44vh;
    color: white;
}
.header_name{
    font-size: 10.2vh;
    margin-bottom: 1vh;
}
.header_name--explanation{
    font-size: 3.5vh;
}
.header__text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    background: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.3vh;
    height: 3vh;
}
.section--content:nth-child(2){
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#section_2{
    background: linear-gradient(160deg, #0798EC, rgb(6, 128, 199)) ;
    /* background: #0798EC; */
}
.section-2__col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
}
.section-2__col1 h2{
    margin-bottom: 3vh;
}
.section-2__col1 p{
    font-size: 2.5vh;
    font-weight: 700;
}
.section-2__img-block{
    background: url(../img/section2img.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48vh;
    height: 75vh;
}
#section_3{
    background: linear-gradient(160deg, rgba(248, 102, 119, 0.945), #FC6C7C);
    /* background: #FC6C7C; */
}
.section--content:nth-child(3){
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section_3 .second-heading{
    color: white;
    padding-bottom: 4vh;
}
.section-3__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3__row p{
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    width: 50%;
}
.typing-study-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.studying-resource-title{
    font-style: italic;
    font-weight: normal;
    color: #E7E7E7;
    font-size: 2.5vh;
    text-decoration: none;
}
#section_4{
    background: linear-gradient(180deg, #61BC65, rgb(105, 207, 110));
    /* background: #61BC65; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;
}
#section_4 .second-heading{
    color: white;
}
iframe{
    width: 85vh;
    height: 47.9vh;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25);
}
.section-4__motivation-block{
    width: 40vh;
    height: 10vh;
    background: white;
    color: black;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#section_5{
    background: #FEC401;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.button--gamelink{
    color: white;
    display: block;
    width: 20vh;
    height: 5vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 2vh;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
/* Media queries */

/* for 4/3 */

@media (aspect-ratio: 4/3){
    .section--content:nth-child(2){
        padding-left: 0;
        padding-right: 0;
    }
    .section--content:nth-child(3){
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2vh;
    }
}

/* for a phone */

@media (orientation: portrait){
    div.container{
        height: 575vh;
    }
    .header_name{
        font-size: 7vh;
    }
    .header_name--explanation{
        font-size: 3vh;
    }
    #section_2{
        height: 150vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 3vh;
        flex-wrap: wrap;
    }
    .section-2__img-block{
        background: url(../img/section2imgmobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        width: 100%;
        height: 30vh;
    }
    .section-2__col1{
        width: 100%;
    }
    #section_3{
        padding-left: 2vh;
        padding-right: 2vh;
        height: 125vh;
    }
    .section-3__row:nth-child(2){
        flex-direction: column-reverse;
    }
    .section-3__row:nth-child(3){
        flex-direction: column;
    }
    .section-3__row p{
        width: 100%;
    }
    .typing-study-container{
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    iframe{
        width: 100%;
        height: 40vh;
    }
}
