@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: #53526B;
}
*::selection{
	color: #FFFFFF;
	background: #212121;
}
.container{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template:1fr / 1fr 1fr;
}
.leftcol{
	display: flex;
	background: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
h1{
	font-weight: medium;
	font-size: 4.67vh;
	line-height: 7.5vh;
	color: #212121;
}
h2{
	font-weight: medium;
	font-size: 2.3vh;
	line-height: 4.4vh;
	color: #828282;
}
.button_container{
	width: 60vh;
	margin-top: 4.7vh;
	display: flex;
	justify-content: flex-end;
}
button[type="button"]{
	background: #212121;
	border-radius: 0.8vh;
	width: 23vh;
	height: 6vh;
	border: 0;
	cursor: pointer;
}
button[type="button"]:focus{
	outline: 0;
}
h3{
	color: #FFFFFF;
	font-weight: medium;
	font-size: 2vh;
	position: relative;
	left: -2vh;
}
h3:before{
	content: '';
	position: absolute;
	top: -0.3vh;
	left: 20vh;
	width: 3vh;
	height: 3vh;
	background: url(../img/github_icon.svg) no-repeat;
	background-size: contain;
}
.rightcol{
	background: #53526B;
	display: flex;
	justify-content: center;
	align-items: center;
}
h4{
	color:#212121;
	font-size: 7.2vh;
	font-weight: medium;
}
.leftcol_img:nth-child(1){
	position: absolute;
	top: 2.5vh;
	left: 3vw;
	width: 17vh;
	height: 17vh;
}
.leftcol_img:nth-child(4){
	position: absolute;
	top: 75vh;
	right: 5%;
	width: 20vh;
	height: 20vh;
}
.leftcol_img img{
	height: 100%;    
}
.planets_container{
	width: 65vh;
	height: 80vh;
	animation: move_planets 3s linear infinite;
	position: relative;
	top: 0;
	left: 0;

}
.unselectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	-webkit-user-drag: none;  /* Chrome all / Safari all */
	-moz-user-drag: none;     /* Firefox all */
	-ms-user-drag: none;      /* IE 10+ */
	user-drag: none;
}
.planets_container img{
	height: 100%;    
}
@keyframes move_planets{
	0%{
		top: 0;
		left: 0;
		height: 80vh;
	}
	33%{
		top: 0.7vh;
		left: -0.7vh;
		height: 80.5vh;
	}
	66%{
		top: -0.7vh;
		left: 0.7vh;
	}
	100%{
		top: 0;
		left: 0;
		height: 80vh;
	}
}

@media (orientation:portrait){
	.container{
		grid-template:1fr / 1fr;
	}
	h1{
		font-size: 8vw;
		line-height: 13vw;
	}
	h2{
		font-size: 4vw;
	}
	.rightcol{
		display: none;
	}
	.button_container{
		width: 80vw;
	}
	.leftcol_img:nth-child(4){
		top: 78vh;
		right: 5vw;
	}
}