#game_section {
    background: linear-gradient(23.39deg, #5B1D82, #7D00CA);
    /* #7D00CA */
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.game-header {
    width: 100%;
    height: 20vh;
    padding-left: 15%;
    padding-top: 3.5vh;
}

.link--to-main {
    color: white;
    text-decoration: none;
    font-size: 3.5vh;
    font-weight: bold;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.game-container input:nth-child(2) {
    background: transparent;
    text-align: center;
    outline: 0;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 4vh;
    width: 100%;
}

#userinput {
    width: 35vh;
    height: 9vh;
    font-size: 5vh;
    color: black;
    outline: 0;
    border: 0;
    background: white;
    caret-color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding-left: 2vh;
}

#userstats {
    width: 20vh;
    height: 5.2vh;
    font-size: 5vh;
    color: white;
    outline: 0;
    border: 0;
    background: transparent;
    font-weight: bold;
    padding-left: 5.7vh;
}

.game-img {
    width: 100vh;
    height: 30vh;
    background: url(../img/gameimg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile-game {
    display: none;
}

@media (orientation: portrait) {
    .game-header {
        padding-left: 5%;
    }

    .mobile-game {
        display: block;
        font-size: 3.5vh;
        color: white;
        font-weight: bold;
    }

    input {
        display: none;
    }

    .game-img {
        display: none;
    }
}