// Base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
    scroll-behavior: smooth;
}

@accent-color: #0E8DF2;
@black: #393939;
@grey: #606060;
@white: #ffffff;
@transition: 0.2s;

.flex(@orientation, @justify-content, @align-items) {
    display: flex;
    flex-direction: @orientation;
    justify-content: @justify-content;
    align-items: @align-items;
}

.no-select() {
    user-select: none;
    -webkit-user-drag: none;
}

// Font styles

.heading {
    font-weight: 600;
    font-size: 48px;
}

.second-heading {
    font-weight: normal;
    font-size: 36px;
}

.regular {
    font-weight: normal;
    font-size: 24px;
}

.underlined {
    text-decoration: underline;
    color: @grey;
    transition: @transition;

    &:hover {
        color: @accent-color;
    }
}

::selection {
    color: @white;
    background: @black;
}

::-moz-selection {
    color: @white;
    background: @accent-color;
}

// Font colors

.c-black {
    color: @black;
}

.c-grey {
    color: @grey;
}

.c-accent {
    color: @accent-color;
}

.c-white {
    color: @white;
}

// Main CSS

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: @white;
}

header {
    width: 100%;
    height: 100vh;
    min-height: 750px;
    .flex(column, space-between, flex-start);
    padding: 100px;

    @media screen and (max-height: 750px) {
        min-height: auto;
    }

    @media screen and (max-width: 1440px) {
        padding: 50px;
    }

    @media screen and (max-width: 760px) {
        padding: 24px;
    }

    .title-wrapper {
        display: flex;
        flex-direction: column;

        .page-title {
            font-weight: 600;
            font-size: 210px;
            line-height: 92%;
            color: @black;
            margin-bottom: 60px;

            @media screen and (max-width: 1440px) {
                font-size: 144px;
            }

            @media screen and (max-width: 920px) {
                font-size: 96px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 760px) {
                font-size: 64px;
            }

            @media screen and (max-width: 365px) {
                font-size: 54px;
            }
        }

        h2 {
            @media screen and (max-width: 760px) {
                font-size: 32px;
            }

            @media screen and (max-width: 365px) {
                font-size: 28px;
            }
        }
    }

    .anchor-menu {
        width: 100%;
        .flex(row, space-between, flex-end);

        .anchors-wrapper {
            width: 512px;
            .flex(row, space-between, flex-end);

            @media screen and (max-width: 760px) {
                .flex(column, flex-start, flex-start);
            }

            a {
                text-decoration: none;
                color: @grey;
                font-weight: normal;
                font-size: 36px;
                line-height: 45px;
                transition: @transition;
                position: relative;

                @media screen and (max-width: 760px) {
                    margin-bottom: 12px;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    opacity: 0;
                    background: @accent-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: @transition;
                }

                &:hover {
                    color: @accent-color;
                }

                &:hover::before {
                    opacity: 1;
                }

                @media screen and (max-width: 920px) {
                    font-size: 28px;
                }
            }
        }

        img {
            .no-select();

            @media screen and (max-width: 920px) {
                width: 140px;
            }
        }
    }
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    background: @accent-color;
    position: relative;

    @media screen and (max-height: 800px) and (max-width: 1440px) {
        height: 800px;
    }

    @media screen and (max-width: 1040px) {
        height: auto;
    }

    @media screen and (max-width: 760px) {
        .flex(column, flex-start, flex-end);
        height: auto;
    }

    .about-me {
        width: 50%;
        .flex(column, center, center);

        @media screen and (max-height: 800) and (max-width: 1440px) {
            height: 800px;
        }

        @media screen and (max-width: 760px) {
            width: 100%;
            padding: 24px 12px;
        }

        img {
            margin-bottom: 12px;
            .no-select();

            @media screen and (max-width: 1440px) {
                width: 310px;
            }

            @media screen and (max-width: 1040px) {
                width: 280px;
            }

            @media screen and (max-width: 760px) {
                width: 214px;
            }
        }

        p {
            width: 394px;
            text-align: center;

            @media screen and (max-height: 800px),
            (max-width: 1040px) {
                font-size: 20px;
            }

            @media screen and (max-width: 760px) {
                width: auto;
            }
        }
    }

    .my-skill-set {
        width: 50%;
        height: 95vh;
        background: @white;
        .flex(column, space-between, flex-start);
        padding: 50px 100px 100px;
        margin-top: auto;

        @media screen and (max-height: 800px) and (max-width: 1440px) {
            margin-top: 50px;
            height: 750px;
        }

        @media screen and (max-width: 1040px) {
            margin-top: 50px;
            height: auto;
            padding: 50px;
        }

        @media screen and (max-width: 760px) {
            width: 94%;
            padding: 24px;
            margin-top: 0;
        }

        a {

            @media screen and (max-width: 1040px),
            (max-height: 800px) {
                margin-top: 50px;
            }

            @media screen and (max-height: 800px) {
                font-size: 20px;
            }

            @media screen and (max-width: 760px) {
                font-size: 20px;
                margin-bottom: 16px;
            }
        }

        .skill-list {
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 24px;

                @media screen and (max-width: 760px) {
                    font-size: 36px;
                }
            }

            p {
                @media screen and (max-height: 800px) and (max-width: 1440px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 760px) {
                    font-size: 20px;
                }
            }

            .hard-skills {
                margin-left: 27px;

                span {
                    position: relative;

                    &:nth-child(1)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/html5icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }

                    &:nth-child(3)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/css3icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }

                    &:nth-child(5)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/jsicon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }

                    &:nth-child(7)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/lessicon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }

                    &:nth-child(9)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/figmaicon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }

                    &:nth-child(11)::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -27px;
                        width: 24px;
                        height: 24px;
                        background: url(../icons/giticon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        @media screen and (max-width: 760px) {
                            width: 20px;
                            height: 20px;
                            top: -1px;
                            left: -25px;
                        }
                    }
                }
            }
        }
    }

}

.projects {
    width: 100%;
    height: 100vh;
    min-height: 840px;
    padding: 100px;
    background: @white;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1040px) {
        height: auto;
    }

    @media screen and (max-width: 1440px) {
        padding: 50px;
    }

    @media screen and (max-height: 840px) {
        min-height: auto;
    }

    @media screen and (max-width: 760px) {
        padding: 24px;
    }

    h2 {
        margin-bottom: 24px;

        @media screen and (max-width: 1440px) {
            font-size: 36px;
            margin-bottom: 12px;
        }
    }

    .projects-list {
        width: 100%;
        height: auto;
        .flex(row, space-between, flex-start);
        flex-wrap: nowrap;

        @media screen and (max-width: 1040px) {
            flex-wrap: wrap;
            .flex(row, center, flex-start);
        }

        .project {
            width: 33%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1040px) {
                width: 350px;
                margin-bottom: 24px;
                padding: 5px;
            }

            @media screen and (max-width: 760px) {
                padding: 0;
                width: 100%;
            }

            p {
                margin-bottom: 24px;

                @media screen and (max-height: 800px),
                (max-width: 1440px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 760px) {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
            }

            img {
                width: 100%;
                margin-bottom: 24px;
            }

            h3 {

                @media screen and (max-height:800px),
                (max-width: 1440px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 760px) {
                    font-size: 28px;
                }
            }

            .project-actions {
                a {
                    @media screen and (max-width: 1440px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 18px;
                    }
                }

                a:nth-child(2) {
                    margin-left: 40px;
                }
            }
        }
    }
}

.contact {
    width: 100%;
    height: 100vh;
    min-height: 750px;
    position: relative;
    background: url(../img/contactbg.svg);
    background-size: cover;

    @media screen and (max-height: 750px) {
        min-height: auto;
    }

    @media screen and (max-width: 760px) {
        background-size: 150%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .contact-me {
        position: absolute;
        top: 100px;
        left: 100px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1440px) {
            top: 50px;
            left: 50px;
        }

        @media screen and (max-width: 760px) {
            top: 24px;
            left: 24px;
        }

        .contact-title {
            font-size: 144px;
            color: @black;
            line-height: 92%;

            @media screen and (max-width: 1024px) {
                font-size: 96px;
            }

            @media screen and (max-width: 760px) {
                font-size: 54px;
            }
        }

        .contact-options {
            display: flex;

            @media screen and (max-width: 760px) {
                flex-direction: column;
            }

            .contact-via {
                display: flex;
                flex-direction: column;

                h3 {
                    margin-bottom: 22px;

                    @media screen and (max-width: 800px) {
                        font-size: 24px;
                        margin-bottom: 11px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 28px;
                        margin-bottom: 12px;
                    }
                }

                a {
                    margin-bottom: 22px;

                    @media screen and (max-width: 800px) {
                        font-size: 18px;
                        margin-bottom: 11px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    @media screen and (max-width: 365px) {
                        font-size: 20px;
                    }
                }
            }

            .contact-location {
                display: flex;
                flex-direction: column;
                margin-left: 43px;

                @media screen and (max-width: 760px) {
                    margin-left: 0;
                }

                h3 {
                    margin-bottom: 22px;

                    @media screen and (max-width: 800px) {
                        font-size: 24px;
                        margin-bottom: 11px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 28px;
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                }

                p {
                    text-decoration: underline;

                    @media screen and (max-width: 800px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 760px) {
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    @media screen and (max-width: 365px) {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .contact-logo {
        position: absolute;
        bottom: 100px;
        right: 100px;
        .no-select();

        @media screen and (max-width: 1200px) {
            width: 550px;
        }

        @media screen and (max-width: 1040px) {
            width: 450px;
        }

        @media screen and (max-width: 860px) {
            width: 350px;
        }

        @media screen and (max-width: 800px) {
            bottom: 50px;
            right: 50px;
        }

        @media screen and (max-width: 760px) {
            bottom: 24px;
            right: 24px;
            width: 280px;
        }

        @media screen and (max-width: 365px) {
            width: 240px;
        }
    }
}

.soonpage-title {
    font-size: 36px;
    color: @white;
    background: @accent-color;
    margin: 100px 100px 24px 100px;
    padding: 5px;

    @media screen and (max-width: 760px) {
        margin: 24px;
    }

    &~a {
        font-size: 24px;
        color: @white;
        background: @accent-color;
        margin: 0 100px;
        padding: 5px;
        text-decoration: none;
        transition: @transition;

        &:hover{
            background: @white;
            color: @grey;
            text-decoration: underline;
        }

        @media screen and (max-width: 760px) {
            margin: 0 24px;
        }
    }
}