* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  scroll-behavior: smooth;
}
.heading {
  font-weight: 600;
  font-size: 48px;
}
.second-heading {
  font-weight: normal;
  font-size: 36px;
}
.regular {
  font-weight: normal;
  font-size: 24px;
}
.underlined {
  text-decoration: underline;
  color: #606060;
  transition: 0.2s;
}
.underlined:hover {
  color: #0E8DF2;
}
::selection {
  color: #ffffff;
  background: #393939;
}
::-moz-selection {
  color: #ffffff;
  background: #0E8DF2;
}
.c-black {
  color: #393939;
}
.c-grey {
  color: #606060;
}
.c-accent {
  color: #0E8DF2;
}
.c-white {
  color: #ffffff;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
header {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px;
}
@media screen and (max-height: 750px) {
  header {
    min-height: auto;
  }
}
@media screen and (max-width: 1440px) {
  header {
    padding: 50px;
  }
}
@media screen and (max-width: 760px) {
  header {
    padding: 24px;
  }
}
header .title-wrapper {
  display: flex;
  flex-direction: column;
}
header .title-wrapper .page-title {
  font-weight: 600;
  font-size: 210px;
  line-height: 92%;
  color: #393939;
  margin-bottom: 60px;
}
@media screen and (max-width: 1440px) {
  header .title-wrapper .page-title {
    font-size: 144px;
  }
}
@media screen and (max-width: 920px) {
  header .title-wrapper .page-title {
    font-size: 96px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 760px) {
  header .title-wrapper .page-title {
    font-size: 64px;
  }
}
@media screen and (max-width: 365px) {
  header .title-wrapper .page-title {
    font-size: 54px;
  }
}
@media screen and (max-width: 760px) {
  header .title-wrapper h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 365px) {
  header .title-wrapper h2 {
    font-size: 28px;
  }
}
header .anchor-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header .anchor-menu .anchors-wrapper {
  width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 760px) {
  header .anchor-menu .anchors-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
header .anchor-menu .anchors-wrapper a {
  text-decoration: none;
  color: #606060;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  transition: 0.2s;
  position: relative;
}
@media screen and (max-width: 760px) {
  header .anchor-menu .anchors-wrapper a {
    margin-bottom: 12px;
  }
}
header .anchor-menu .anchors-wrapper a::before {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0;
  background: #0E8DF2;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}
header .anchor-menu .anchors-wrapper a:hover {
  color: #0E8DF2;
}
header .anchor-menu .anchors-wrapper a:hover::before {
  opacity: 1;
}
@media screen and (max-width: 920px) {
  header .anchor-menu .anchors-wrapper a {
    font-size: 28px;
  }
}
header .anchor-menu img {
  user-select: none;
  -webkit-user-drag: none;
}
@media screen and (max-width: 920px) {
  header .anchor-menu img {
    width: 140px;
  }
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #0E8DF2;
  position: relative;
}
@media screen and (max-height: 800px) and (max-width: 1440px) {
  .about {
    height: 800px;
  }
}
@media screen and (max-width: 1040px) {
  .about {
    height: auto;
  }
}
@media screen and (max-width: 760px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
  }
}
.about .about-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-height: 800) and (max-width: 1440px) {
  .about .about-me {
    height: 800px;
  }
}
@media screen and (max-width: 760px) {
  .about .about-me {
    width: 100%;
    padding: 24px 12px;
  }
}
.about .about-me img {
  margin-bottom: 12px;
  user-select: none;
  -webkit-user-drag: none;
}
@media screen and (max-width: 1440px) {
  .about .about-me img {
    width: 310px;
  }
}
@media screen and (max-width: 1040px) {
  .about .about-me img {
    width: 280px;
  }
}
@media screen and (max-width: 760px) {
  .about .about-me img {
    width: 214px;
  }
}
.about .about-me p {
  width: 394px;
  text-align: center;
}
@media screen and (max-height: 800px), (max-width: 1040px) {
  .about .about-me p {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .about .about-me p {
    width: auto;
  }
}
.about .my-skill-set {
  width: 50%;
  height: 95vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px 100px;
  margin-top: auto;
}
@media screen and (max-height: 800px) and (max-width: 1440px) {
  .about .my-skill-set {
    margin-top: 50px;
    height: 750px;
  }
}
@media screen and (max-width: 1040px) {
  .about .my-skill-set {
    margin-top: 50px;
    height: auto;
    padding: 50px;
  }
}
@media screen and (max-width: 760px) {
  .about .my-skill-set {
    width: 94%;
    padding: 24px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1040px), (max-height: 800px) {
  .about .my-skill-set a {
    margin-top: 50px;
  }
}
@media screen and (max-height: 800px) {
  .about .my-skill-set a {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .about .my-skill-set a {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.about .my-skill-set .skill-list {
  display: flex;
  flex-direction: column;
}
.about .my-skill-set .skill-list h2 {
  margin-bottom: 24px;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list h2 {
    font-size: 36px;
  }
}
@media screen and (max-height: 800px) and (max-width: 1440px) {
  .about .my-skill-set .skill-list p {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list p {
    font-size: 20px;
  }
}
.about .my-skill-set .skill-list .hard-skills {
  margin-left: 27px;
}
.about .my-skill-set .skill-list .hard-skills span {
  position: relative;
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/html5icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(1)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/css3icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(3)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(5)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/jsicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(5)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(7)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/lessicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(7)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(9)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/figmaicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(9)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.about .my-skill-set .skill-list .hard-skills span:nth-child(11)::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -27px;
  width: 24px;
  height: 24px;
  background: url(../icons/giticon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 760px) {
  .about .my-skill-set .skill-list .hard-skills span:nth-child(11)::before {
    width: 20px;
    height: 20px;
    top: -1px;
    left: -25px;
  }
}
.projects {
  width: 100%;
  height: 100vh;
  min-height: 840px;
  padding: 100px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1040px) {
  .projects {
    height: auto;
  }
}
@media screen and (max-width: 1440px) {
  .projects {
    padding: 50px;
  }
}
@media screen and (max-height: 840px) {
  .projects {
    min-height: auto;
  }
}
@media screen and (max-width: 760px) {
  .projects {
    padding: 24px;
  }
}
.projects h2 {
  margin-bottom: 24px;
}
@media screen and (max-width: 1440px) {
  .projects h2 {
    font-size: 36px;
    margin-bottom: 12px;
  }
}
.projects .projects-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1040px) {
  .projects .projects-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.projects .projects-list .project {
  width: 33%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1040px) {
  .projects .projects-list .project {
    width: 350px;
    margin-bottom: 24px;
    padding: 5px;
  }
}
@media screen and (max-width: 760px) {
  .projects .projects-list .project {
    padding: 0;
    width: 100%;
  }
}
.projects .projects-list .project p {
  margin-bottom: 24px;
}
@media screen and (max-height: 800px), (max-width: 1440px) {
  .projects .projects-list .project p {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .projects .projects-list .project p {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.projects .projects-list .project img {
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (max-height: 800px), (max-width: 1440px) {
  .projects .projects-list .project h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 760px) {
  .projects .projects-list .project h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1440px) {
  .projects .projects-list .project .project-actions a {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .projects .projects-list .project .project-actions a {
    font-size: 18px;
  }
}
.projects .projects-list .project .project-actions a:nth-child(2) {
  margin-left: 40px;
}
.contact {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  position: relative;
  background: url(../img/contactbg.svg);
  background-size: cover;
}
@media screen and (max-height: 750px) {
  .contact {
    min-height: auto;
  }
}
@media screen and (max-width: 760px) {
  .contact {
    background-size: 150%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
.contact .contact-me {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1440px) {
  .contact .contact-me {
    top: 50px;
    left: 50px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me {
    top: 24px;
    left: 24px;
  }
}
.contact .contact-me .contact-title {
  font-size: 144px;
  color: #393939;
  line-height: 92%;
}
@media screen and (max-width: 1024px) {
  .contact .contact-me .contact-title {
    font-size: 96px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-title {
    font-size: 54px;
  }
}
.contact .contact-me .contact-options {
  display: flex;
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options {
    flex-direction: column;
  }
}
.contact .contact-me .contact-options .contact-via {
  display: flex;
  flex-direction: column;
}
.contact .contact-me .contact-options .contact-via h3 {
  margin-bottom: 22px;
}
@media screen and (max-width: 800px) {
  .contact .contact-me .contact-options .contact-via h3 {
    font-size: 24px;
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options .contact-via h3 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
.contact .contact-me .contact-options .contact-via a {
  margin-bottom: 22px;
}
@media screen and (max-width: 800px) {
  .contact .contact-me .contact-options .contact-via a {
    font-size: 18px;
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options .contact-via a {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 365px) {
  .contact .contact-me .contact-options .contact-via a {
    font-size: 20px;
  }
}
.contact .contact-me .contact-options .contact-location {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options .contact-location {
    margin-left: 0;
  }
}
.contact .contact-me .contact-options .contact-location h3 {
  margin-bottom: 22px;
}
@media screen and (max-width: 800px) {
  .contact .contact-me .contact-options .contact-location h3 {
    font-size: 24px;
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options .contact-location h3 {
    font-size: 28px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.contact .contact-me .contact-options .contact-location p {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .contact .contact-me .contact-options .contact-location p {
    font-size: 18px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-me .contact-options .contact-location p {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 365px) {
  .contact .contact-me .contact-options .contact-location p {
    font-size: 22px;
  }
}
.contact .contact-logo {
  position: absolute;
  bottom: 100px;
  right: 100px;
  user-select: none;
  -webkit-user-drag: none;
}
@media screen and (max-width: 1200px) {
  .contact .contact-logo {
    width: 550px;
  }
}
@media screen and (max-width: 1040px) {
  .contact .contact-logo {
    width: 450px;
  }
}
@media screen and (max-width: 860px) {
  .contact .contact-logo {
    width: 350px;
  }
}
@media screen and (max-width: 800px) {
  .contact .contact-logo {
    bottom: 50px;
    right: 50px;
  }
}
@media screen and (max-width: 760px) {
  .contact .contact-logo {
    bottom: 24px;
    right: 24px;
    width: 280px;
  }
}
@media screen and (max-width: 365px) {
  .contact .contact-logo {
    width: 240px;
  }
}
.soonpage-title {
  font-size: 36px;
  color: #ffffff;
  background: #0E8DF2;
  margin: 100px 100px 24px 100px;
  padding: 5px;
}
@media screen and (max-width: 760px) {
  .soonpage-title {
    margin: 24px;
  }
}
.soonpage-title ~ a {
  font-size: 24px;
  color: #ffffff;
  background: #0E8DF2;
  margin: 0 100px;
  padding: 5px;
  text-decoration: none;
  transition: 0.2s;
}
.soonpage-title ~ a:hover {
  background: #ffffff;
  color: #606060;
  text-decoration: underline;
}
@media screen and (max-width: 760px) {
  .soonpage-title ~ a {
    margin: 0 24px;
  }
}
